/* .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  } */



  /* PackageForm.css */
/* .form-container {
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  margin-bottom: 15px;
}

.btn-danger {
  margin-top: 30px;
} */

/* You can add more styles based on your design requirements */


